body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logonav {
    height: 60px;
    width: 60px;
    margin-bottom: -120px;
    margin-left: 20px;
    padding: 1px;
}

header {
    background-color: #8162c2;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

video {
    width: 100%; /* Adjusted to full width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
}
.inst{
        display: inline-block;
        vertical-align: top;
        max-width: 50%;
        margin-left: 206px;
        background-size: auto;
}
.carouselslide {
    background-size: cover; /* Ensure background image covers the entire container */
}

.logo2 {
    background-size: auto; /* Adjust as needed */
    width: 289px;
    height: 125px;
    background-position: center;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .logonav {
        margin-bottom: 0; /* Adjust margin for smaller screens */
    }

    video {
        width: 100%; /* Adjust video width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 0.5em; /* Adjust header padding for smaller screens */
    }

    .logonav {
        margin-left: 10px; /* Adjust margin for smaller screens */
    }
}
