body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.logonav {
    height: 60px;
    width: 60px;
    margin-bottom: 0;
    margin-left: 20px;
    padding: 1px;
}

.h3,
h3 {
    font-size: calc(1.3rem + 0.6vw);
    margin: 2rem;
}

.logonav2 {
    background-position: auto;
    height: 1200px;
    width: 1100px;
    margin-top: -20px;
    background-size: cover; /* Added background-size property */
}

header {
    background-color: #d3c6f0;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.titulo {
    font-family: "Koi Medium";
    text-shadow: 2px solid rgba(355, 255, 255, 0.7);
    padding: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}

main {
    padding: 1rem;
}

video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.inst,
.carouselslide {
    display: flex;
    max-width: 100%;
    margin-left: 0;
    background-size: cover;
}

.logo2 {
    width: 100%;
    max-width: 2050px;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    animation: rotateLogo 4s infinite cubic-bezier(0, 0, 0.04, 0.93);
    background-size: cover; /* Added background-size property */
}

/* Media Queries para Diseño Responsivo */
@media screen and (max-width: 768px) {
    .body{
        overflow-x: hidden;
    }
    .logonav {
        margin-bottom: 0;
    }
    .logonav2 {
        background-position: auto;
        height: 500px;
        width: 500px;
        margin: -20px;
        margin-top: 10px;
        background-size: cover; /* Added background-size property */
    }
    video {
        width: 100%;
    }
    .inst,
    .carouselslide {
        max-width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .body{
        overflow-x: hidden;
    }
    header {
        padding: 0.5em;
    }
    .logonav2 {
        width: 100%;
        margin: 0;
        padding: 10px;
        background-size: cover; /* Added background-size property */
    }
    .logonav {
        margin-left: 10px;
    }
}

.logo2 {
    width: 1000px;
    height: auto;
    margin-top: -1000px;
    margin-left: -300px;
}

.logo-move {
    animation: moveLogo 2s infinite alternate;
}

.title-move {
    animation: moveTitle 2s infinite alternate;
}

@keyframes moveLogo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}

@keyframes moveTitle {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px);
    }
}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#comentarios-list {
    margin-top: 10px;
}

#comentarios-list p {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.formulario {
    padding: 20px;
}